{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Listings</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="page-wrapper">
    <div class="job-container">
        <h1>Job Listings</h1>

        <table class="job-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Employer</th>
                    <th>Location</th>
                    <th>Salary</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>
                    <td>{{ job.title }}</td>
                    <td>{{ job.posted_by.username}}</td>
                    <td>{{ job.location }}</td>
                    <td>{{ job.salary }}</td>
                    <td>{{  job.date_posted|date:"Y-m-d"  }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="btn-wrapper">
            <a href="{% url 'logout' %}" class="logout-button">Logout</a>
        </div>
    </div>
</div>

</body>
</html>
