{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>admin dashboard</title>
      <link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
</head>
<body>
  <div class="dashboard-container">
        <h1>Admin Dashboard</h1>
        <p>Welcome, {{ request.user.username }}!</p>
        <div class="dashboard-links">
            <a href="{% url 'manage_jobs' %}">Manage Jobs</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
</body>
</html>